<style>
html, body {
  font-size: {{size}}px;
}
h1 {
  color: rgb({{r}}, {{g}}, {{b}});
}
{{$_buttons-list}}, .button {
  background-color: {{color}};
}

</style>
<h1>This is an H1</h1>
<button>This is a button</button>